
/Back End/Curso_Udemy_Java/.settings
/Back End/lab02/.metadata
/Back End/lab02/projectLab02/.settings
/Back End/lab02/Servers
/Back End/.metadata
/Back End/lab02_faculdade/projectLab02Faculdade/.settings
/Back End/lab02_faculdade/Servers
/Back End/lab02_faculdade_part2/projectLab02FaculdadeParte2/.settings
/Back End/lab02_faculdade_part2/Servers/.settings
/Back End/lab02_faculdade_part2/Servers
/Back End/lab_provaAntiga_exercicio2/ProjetoIndicadorSaude/.settings
/Back End/lab_provaAntiga_exercicio2/Servers
/Back End/lab_provaAntiga_exercicio2_faculdade/lab_provaAntiga_exercicio2/.settings
/Back End/lab_provaAntiga_exercicio2_faculdade/Servers
/Back End/lab_provaAntiga_exercicio3_faculdade/Servers
/Back End/lab_provaAntiga_exercicio3_faculdade/lab_provaAntiga_exercicio3/.settings
