<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Prova01Prj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Prova01Prj_Servlet</display-name>
    <servlet-name>Prova01Prj_Servlet</servlet-name>
    <servlet-class>Prova01Prj_Servlet</servlet-class>
    
    <init-param>
 	 <description/>
 	 <param-name>peso1</param-name>
 	 <param-value>5</param-value>
	</init-param>	
	<init-param>
	 <description/>
	 <param-name>peso2</param-name>
	 <param-value>5</param-value>
	</init-param>	
	<init-param>
	 <description/>
	 <param-name>peso3</param-name>
	 <param-value>5</param-value>
	</init-param>
	
		
	
	<init-param>
	 <description/>
	 <param-name>valorAprovacao</param-name>
	 <param-value>50</param-value>
	</init-param>

  </servlet>
  <servlet-mapping>
    <servlet-name>Prova01Prj_Servlet</servlet-name>
    <url-pattern>/CalcularMedia</url-pattern>
  </servlet-mapping>
</web-app>